.card__container {
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 35px 30px 20px;
  border-top: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1160px) {
  .card__container {
    padding: 20px 15px 15px;

  }
}