.card__spantext {
  margin: auto 0 0 0;
  padding-top: 10px;
  font-family: 'M PLUS Rounded 1c', 'Arial', 'Helvetica', sans-serif;
  font-weight: 500;
  color: rgba(8, 31, 50, .7);
  font-size: 11px;
  line-height: 1;
  text-align: center;
}