.card__youtube {
  width: 304px;
  height: 171px;
}

@media (max-width: 1360px) {
  .card__youtube {
    width: calc((100vw - 140px) / 2);
    height: calc((100vw - 140px) / 32 * 9);
  }
}

@media (max-width: 1160px) {
  .card__youtube {
    width: calc((100vw - 70px) / 2);
    height: calc((100vw - 70px) / 32 * 9);
  }
}