.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

@media (max-width: 1360px) {
  #block-pohodclubtheme-sitebranding-2 img {
    width: 300px;
  }
}

@media (max-width: 1360px) {
  #block-pohodclubtheme-sitebranding-2 img {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  #block-pohodclubtheme-sitebranding-2 img {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .header {
    position: relative;
  }
  #block-pohodclubtheme-sitebranding-2 img {
    width: 100%;
  }
}
