<div class="page">
  <header class="header">
    <div class="header__container content">
      {{page.logo}}
      <nav class="menu">
      {{page.menu}}
      </nav>
    </div>
  </header>
  <div class="banner">
    <div class="banner__content content">
      <h1 class="banner__title">
        Мы много лет ходим в походы с&nbsp;детьми &#8212; и приглашаем вас
        идти&nbsp;с&nbsp;нами
      </h1>
      <button class="button">Оставить заявку</button>
    </div>
  </div>

      <main class="content">
        <section class="section">
          <h2 class="section__title">Ближайшие походы</h2>
          <p class="section__text">Легкий текст про то, как вам и  вашим детям будет приятно и полезно пойти с нми в поход. <br>Он займёт примерно 2 или 3 строчки. </p>
          <div class="card-container">
            <div class="card">
              <img class="card__image" alt="Поход" src="./images/pohod1.png" />
              <div class="card__container">
              <h3 class="card__subtitle">Река Пра с 12 по 19 июня 2021</h3>
              <p class="card__text">
                Водный поход на катамаранах.<br>Неделя на простой речке с
                песчанными пляжами, соснами и дубравами.
              </p>
              <p class="card__spantext">Группа набирается, мест достаточно.</p>
            </div>
            </div>
            <div class="card">
              <img class="card__image" alt="Поход" src="./images/pohod2.png" />
              <div class="card__container">

              <h3 class="card__subtitle">Крым с 1 по 10 мая 2021</h3>
              <p class="card__text">
                Горный пеший поход - радиальные выходы с базовым лагерем. Горный
                Крым... Надо обязательно здесь побывать, а потом возвращаться и
                возвращаться...
              </p>
              <p class="card__spantext">
                Группа набрана, возможна запись в лист ожидания.<br>купили билеты
                на поезд
              </p>
              </div>
            
            </div>
            <div class="card">
              <img class="card__image" alt="Поход" src="./images/pohod3.png" />
              <div class="card__container">

              <h3 class="card__subtitle">Река Чирка-Кемь с 3 по 18 июля 2021</h3>
              <p class="card__text">
                Водный поход на катамаранах.<br>Это быстрая, интересная в
                спортивном плане, но при этом не экстремальная река.
              </p>
              <p class="card__spantext">
                Группа набирается, мест достаточно.<br>Билеты на поезд покупаем в
                начале апреля
              </p>
              </div>

            </div>
          </div>
        </section>
        <section class="section">
          <h2 class="section__title">Почему с нами хорошо в походе?</h2>
          <p class="section__text">
            Есть примерно два десятка семей, которые из года в год ходят в
            походы вместе - это уже своего рода турклуб. И мы всегда рады новым
            лицам. Организатор и руководитель большинства походов - Сергей
            Горбачевский. Ходит в походы третий десяток лет, водил своих детей в
            походы больше десяти лет. Свои дети подросли, теперь Сергей водит
            чужих (с родителями) :)
          </p>
          <div class="card-container card-container_youtube">
            <div class="card card_youtube">
              <iframe id="ytplayer1" class="card__youtube" type="text/html" 
src="https://www.youtube.com/embed/5zzH8DQTNQU?start=118"
frameborder="0" allowfullscreen></iframe>
              <h3 class="card__title">Вкусно поели</h3>
            </div>
            <div class="card card_youtube">
              <iframe id="ytplayer2" type="text/html" class="card__youtube"
src="https://www.youtube.com/embed/5zzH8DQTNQU?start=43"
frameborder="0" allowfullscreen></iframe>
              <h3 class="card__title">Поработали в команде</h3>
            </div>
            <div class="card card_youtube">
              <iframe id="ytplayer3" type="text/html" class="card__youtube"
src="https://www.youtube.com/embed/5zzH8DQTNQU?start=126"
frameborder="0" allowfullscreen></iframe>
              <h3 class="card__title">Прошли пороги</h3>
            </div>
            <div class="card card_youtube">
              <iframe id="ytplayer4" type="text/html" class="card__youtube"
src="https://www.youtube.com/embed/5zzH8DQTNQU?start=126"
frameborder="0" allowfullscreen></iframe>
              <h3 class="card__title">Прошли пороги</h3>
            </div>
          </div>
        </section>
        <section class="section">
          <h2 class="section__title">Отзывы</h2>
          <div class="card-container">
            <div class="card card_review">
                <img class="card__image card__image_round" alt="Лена Тулинцева" src="./images/Лена Тулинцева.jpg" />

                <p class="card__text">
                  Походы с Серёжей и Юлей всегда очень интересны и волнительны.
                  Они обязательно запомнятся надолго: хорошими людьми, живописными
                  местами и интересными происшествиями.
                </p>
                <h3 class="card__subtitle card__subtitle_review">Лена Тулинцева</h3>

            </div>
            <div class="card card_review">
                <img class="card__image card__image_round" alt="Дмитрий Новиков" src="./images/dima_0.jpg" />

                <p class="card__text">
                  Понравился уровень доверия руководителя к участникам путешествия. Любое путешествие - это опыт, который мы используем дальше. Но после похода по р. Суна с Сергеем и Юлией хочется говорить только о том, что было здорово. Спасибо вам, ребята, за вашу заботу!!!
                </p>
                <h3 class="card__subtitle card__subtitle_review">Дмитрий Новиков</h3>

            </div>
            <div class="card card_review">
                <img class="card__image card__image_round" alt="Наталья Солодовниченко" src="./images/Наташа Солодовниченко.jpg" />

                <p class="card__text">
                  Организация питания, а именно количество и разнообразие; Короткие переходы 4-5 часов), детям было не скучно. На последний день осталось много сладостей, даже детки не осилили столько              </p>
                <h3 class="card__subtitle card__subtitle_review">Наталья Солодовниченко</h3>
            </div>
          </div>
        </section>
        <section class="section">
          <h2 class="section__title">Как мы живём в походе?</h2>
          <p class="section__text">
            Мы не турфирма: для нас поход это не "инструктора катают туристов на
            лодочках", а общее дело. У нас общий быт и мы вместе проводим
            большую часть времени в течение полутора или двух недель - и
            хотелось бы, чтобы это время и для вас и для нас прошло комфортно и
            ко взаимному удовольствию.
          </p>
          <p class="section__text">
            Организаторы отвечают за заброску (проезд от поезда до места
            стапеля(лагеря) и от места антистапеля до поезда), закупку и
            упаковку еды, общественное и костровое снаряжение, катамараны,
            проработку плана похода и руководство им на месте. А от участников
            мы ожидаем, что они отвечают за личное снаряжение (от палатки до
            одежды), за своих детей и за атмосферу в группе.
          </p>
        </section>
        <section class="section">
          <h2 class="section__title">Наши походы - это:</h2>
          <div class="margin"></div>

          <div class="card-container">
            <div class="card card_small">
              <img class="card__image card__image_icon" alt="рисунок" src="./images/IMG_20200113_156цвет .jpg" />
              <h3 class="card__title">Яркие впечатления</h3>
            </div>
            <div class="card card_small">
              <img class="card__image card__image_icon" alt="рисунок" src="./images/IMG_20200128_145110 цвет .jpg" />
              <h3 class="card__title">Отличная компания</h3>
            </div>
            <div class="card card_small" >
              <img class="card__image card__image_icon" alt="рисунок" src="./images/IMG_202001цвет.jpg" />
              <h3 class="card__title">Безопасность</h3>
            </div>
            <div class="card card_small">
              <img class="card__image card__image_icon" alt="рисунок" src="./images/IMG_2020цвет .jpg" />
              <h3 class="card__title">Доступно по сложности и&nbsp;по деньгам</h3>
            </div>
          </div>
          <div class="margin"></div>

          <p class="section__text">
            Взрослый человек без семьи может пойти, в общем-то, в любой поход -
            унести на спине личное снаряжение и еду на себя доступно почти
            любому здоровому взрослому человеку. Но если появились дети, и их
            хочется взять с собой - то, например, в пешем походе придётся тащить
            вещи и еду и за себя, и за детей. А если в поход может пойти только
            один из родителей - то из сложной затея становится невыполнимой.
            Поэтому мы нашли такие походы, где участие посильно даже маме с
            двумя детьми, папа которой остался дома. В основном, у нас два
            формата походов: базовый лагерь с радиальными выходами (длиной в
            полдня) - обычно где-нибудь в горах, на Кавказе или в Крыму; и
            сплавы по рекам (в основном, карельским) на катамаранах. Такие
            походы позволяют не тащить гору вещей (они лежат в палатке в базовом
            лагере либо едут на грузовой палубе катамарана) и они, в отличие от,
            к примеру, байдарок, более безопасны - даже если не все гребцы
            взрослые.
          </p>
        </section>
        <section class="section">
          <h2 class="section__title">Что делать дальше?</h2>
          <div class="card-container">
            <form class="form">
              <h3 class="form__title"></h3>
              <input class="form__input" />
              <input class="form__input" />
              <button class="button form__button" type="submit">
                Поговорите со мной!
              </button>
            </form>
            <form class="form">
              <h3 class="form__title"></h3>
              <input class="form__input" />
              <input class="form__input" />
              <button class="button form__button" type="submit">
                Записаться в поход
              </button>
            </form>
          </div>
        </section>
      </main>
      <footer class="footer">{{page.footer}}</footer>
</div>
