<div class="page">
  <header class="header">
    <div class="header__container content">
      {{page.logo}}
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__element">Ближайшие походы</li>
          <li class="menu__element">О нас</li>
          <li class="menu__element">Вопросы и ответы</li>
          <li class="menu__element">Отзывы</li>
          <li class="menu__element">Фото и видео</li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="banner">
    <div class="banner__content content">
      <h1 class="banner__title">
        Мы много лет ходим в походы с&nbsp;детьми &#8212; и приглашаем вас
        идти&nbsp;с&nbsp;нами
      </h1>
      <button class="button">Оставить заявку</button>
    </div>
  </div>
</div>
