    <div class="page">
      <header class="header">
        <div class="header__container content">
{{page.logo}}
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__element">Ближайшие походы</li>
              <li class="menu__element">О нас</li>
              <li class="menu__element">Вопросы и ответы</li>
              <li class="menu__element">Отзывы</li>
              <li class="menu__element">Фото и видео</li>
            </ul>
          </nav>
        </div>
      </header>
    </div>
